@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Playfair+Display:wght@500;600;700&display=swap");
html, body {
  font-family: "Inter", sans-serif;
}


/* Thêm style cơ bản để giống Feane */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0c0c0c;
  color: white;
}
